<div class="page">
  <div class="container">
    <div class="left">
      <div class="login">Evento</div>
      <div class="eula">Registra el evento por el cual nos visitas hoy</div>
    </div>
    <div class="right">
      <div class="form">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Correo">
        <hr class="gradient-line">
        <label for="numContol">Numero de Control</label>
        <input type="numContol" class="form-control" id="numContol" placeholder="Número de control">
        <hr class="gradient-line">
        <label for="codigo">Codigo del Evento</label>
        <input type="codigo" class="form-control" id="codigo" placeholder="Evento">
        <hr class="gradient-line">
        <input type="submit" class="btn btn-primary mt-3" id="submit" value="Submit">
      </div>
    </div>
  </div>
</div>

  