@import url('https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css');

/* Estilos para el título "Mapa" */
.display-4 {
  font-size: 3.5rem; /* Tamaño de fuente grande */
  font-weight: bold; /* Negrita */
  color: #007bff; /* Color azul */
  text-align: center; /* Centrado horizontal */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega una sombra al texto */
  display: inline-block; /* Necesario para el contenedor de animación */
}

/* Contenedor para la animación de escritura */
.typing-container {
  display: inline-block; /* Necesario para el efecto de escritura */
  overflow: hidden; /* Oculta el texto no mostrado */
  white-space: nowrap; /* Evita que el texto se envuelva */
  border-right: 4px solid #007bff; /* Cursor parpadeante */
  animation: typing 4s steps(50, end), blink-caret 0.75s step-end infinite;
  text-align: center; /* Centrado horizontal del texto */
  margin: 0 auto; /* Centrado del contenedor */
  height: 40px;
}

/* Animación de escritura */
@keyframes typing {
  from { width: 0; }
  to { width: 18%; }
}

/* Animación del cursor parpadeante */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #007bff; }
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 140px;
  margin-bottom: 50px;
  height: 60px;
}


/* Estilos generales para la barra de búsqueda */
.search-bar {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto; /* Centrado horizontal y margen vertical */
}

/* Estilos para el input de la barra de búsqueda */
.form-control {
  border-color: #ff8c00; /* Borde naranja */
  color: #333; /* Color del texto */
  flex-grow: 1; /* Ocupa el espacio disponible */
  min-width: 0; /* Permite que el input se encoja */
}

/* Estilos para el botón de la barra de búsqueda */
.btn-primary {
  background-color: #ff8c00; /* Fondo naranja */
  border-color: #ff8c00; /* Borde naranja */
  color: #fff; /* Color del texto */
}

.btn-primary:hover {
  background-color: #226ae6; /* Fondo azul al pasar el ratón */
  border-color: #e67e22; /* Borde naranja oscuro al pasar el ratón */
}

/* Media queries para pantallas más grandes */
@media (min-width: 768px) {
  .search-bar {
    max-width: 500px; /* Ancho máximo en pantallas medianas */
  }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 767px) {
  .search-bar {
    flex-direction: column; /* Apilar elementos verticalmente */
    width: 90%; /* Ocupa el 90% del ancho del contenedor */
  }
  .form-control {
    margin-bottom: 10px; /* Margen inferior para separar del botón */
  }
}


/* Estilos para las sugerencias */
.sugerencias {
  position: absolute;
  border: 1px solid #0e47e2; /* Borde gris */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  width: 430px; /* Ancho ajustado al contenido */
  left: 47.5%; /* Posición en el centro */
  transform: translateX(-50%); /* Centrado horizontal */

}


.list-group-item {
  cursor: pointer; /* Cursor de puntero al pasar por encima */
  padding: 8px 12px; /* Relleno interno ajustado */
  transition: background-color 0.3s ease; /* Transición suave */
}

.list-group-item:hover {
  background-color: #b2c9ec; /* Cambia el color de fondo al pasar el ratón */
}



/* Estilos para el contenedor principal */
.btn-group-toggle {
  display: flex;
  overflow-x: auto; /* Permite desplazarse horizontalmente si hay muchos botones */
  margin-top: 50px;
}

/* Estilos para la etiqueta "Locaciones" */
.locaciones-label {
  margin-right: 10px;
  margin-top: 8px;
  color: #ff8c00; /* Naranja */
}

/* Estilos para los botones */
.btn-secondary {
  background-color:rgb(248, 205, 152);
  border: 2px solid #ff8c00; /* Borde naranja */
  color: #884604; /* Texto naranja */
  margin-right: 5px;
  font-size: 14px;
  transition: all 0.3s ease; /* Transición suave */
  margin-bottom: 10px;
}

/* Estilos para el texto dentro de los botones */
.btn-secondary input[type="radio"] {
  appearance: none; /* Elimina el estilo por defecto */
  -webkit-appearance: none; /* Para compatibilidad con Safari */
  border-radius: 50%; /* Hace que sea circular */
  outline: none; /* Elimina el contorno cuando se hace clic */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.2s, border-color 0.2s; /* Transiciones suaves */
}

/* Estilos para los botones cuando están activos */
.btn-secondary.active {
  background-color: #ff8c00; /* Naranja */
  color: #fff; /* Texto blanco */
}


/* Estilos para los botones al pasar el ratón por encima */
.btn-secondary:hover {
  background-color: #ff8c00; /* Naranja */
  color: #fff; /* Texto blanco */
}



/* Estilos para el mapa */
.map-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
}

.map-container iframe {
  justify-content: center;
  width: 800px;
  height: 600px;
  border: 0;
}



/* Estilos para el texto "Yendo a :" */
p {
  text-align: center;
  margin-top: 20px;
  color: #333; /* Negro */
}
.container2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


/* Estilos para el cuadro de direcciones */
.card {
  border: 2px solid #d95b5b; /* Borde gris claro */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  width: 90%; /* El ancho ocupa casi todo el contenedor */
  max-width: 400px; /* Ancho máximo */
  margin: 20px auto; /* Centrado y espaciado alrededor */
  margin-left: 15px;
}

.card-body {
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Centrar texto */
}

.card-title {
  color: #bb0e05; /* Naranja */
  margin-bottom: 20px; /* Espaciado inferior */
  text-align: center; /* Centrar texto */
}

#ruta-container {
  background-color: #ffecd9; /* Fondo naranja claro */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  line-height: 1.5; /* Espaciado entre líneas aumentado */
  font-size: 15px; /* Tamaño de fuente aumentado */
  text-align: left; /* Alineación del texto a la izquierda */
  font-family: "Comic Sans MS", cursive, sans-serif; /* Fuente */
  height: 100%; /* Altura del contenedor */
}

#ruta-container::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

#ruta-container::-webkit-scrollbar-thumb {
  background-color: #ff7f00; /* Color del scrollbar */
  border-radius: 4px; /* Bordes redondeados */
}

#ruta-container::-webkit-scrollbar-thumb:hover {
  background-color: #ff9f33; /* Color del scrollbar al pasar el ratón */
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .card {
    width: 60%; /* Ajuste del ancho para pantallas más grandes */
  }
}

/* Estilos para pantallas muy grandes */
@media (min-width: 1024px) {
  .card {
    width: 50%; /* Ajuste del ancho para pantallas muy grandes */
  }
}

/* Estilos para pantallas muy pequeñas */
@media (max-width: 480px) {
  .card {
    width: 95%; /* Ancho casi completo para pantallas pequeñas */
    max-width: 100%; /* Ancho máximo al 100% */
  }
  .card-body {
    padding: 15px; /* Reducción del espaciado interno */
  }
  .card-title {
    font-size: 1.2rem; /* Reducción del tamaño de la fuente */
  }
  #ruta-container {
    font-size: 14px; /* Ajuste del tamaño de la fuente */
  }
}

#map {
  width: calc(80% - 20px); /* El 50% del ancho menos el espacio entre los elementos */
}
/*Estilo para boton logout*/
.btn-logout button{
  position: absolute;
  right: 0;
  background-color: #cc1d1a; /* Fondo del botón rojo */
  color: #fff; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor de puntero */
  transition: background-color 0.3s ease; /* Transición suave */
}
.btn-logout button:hover {
  background-color: #d9534f; /* Cambia el color de fondo al pasar el ratón */
}

.btn-logout button i {
  margin-right: 5px; /* Espacio entre el icono y el texto */
}
