<div class="container">
  <!-- Título "Mapa" -->
  <div class="btn-logout">
    <button (click)="logout()" class="btn btn-primary">
      <i class="bi bi-door-closed"></i> Logout
    </button>
  </div>
  <h1 class="display-4">MAPA</h1>

 <!-- Barra de búsqueda -->
 <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Buscar lugar" #busquedaInput (keyup)="buscarLugares($event)">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button">Buscar</button>
  </div>
</div>

<div *ngIf="sugerencias.length > 0" class="sugerencias">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let sugerencia of sugerencias"
     (click)="seleccionarSugerencia(sugerencia, busquedaInput)">{{ sugerencia }}</li>

  </ul>
</div>




  <!-- Menú de locaciones -->
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <div class="locaciones-label">
      <strong>Locaciones:</strong>
    </div>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="salones"> Salones
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="oficinas"> Oficinas
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="salas"> Salas Audiovisuales
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="auditorios"> Auditorio
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="cafeterias"> Cafetería
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="baños"> Baños
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="estacionamientos"> Estacionamientos
    </label>
    <!-- Agrega más opciones según sea necesario -->
  </div>

  <p>Yendo a :</p>


  <!-- Mini mapa con Mapbox -->
  <div id="map" style="height: 400px;"></div>


  <!-- Cuadro de direcciones -->
  <div class="card mt-3">
    <div class="card-body">
      <h4 class="card-title">Direcciones:</h4>
      <div style="height: 200px; overflow-y: auto;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Paso a seguir 1</li>
          <li class="list-group-item">Paso a seguir 2</li>
          <li class="list-group-item">Paso a seguir 3</li>
          <li class="list-group-item">Paso a seguir 4</li>
          <li class="list-group-item">Paso a seguir 5</li>
          <li class="list-group-item">Paso a seguir 6</li>
          <li class="list-group-item">Paso a seguir 7</li>
          <!-- Agrega más pasos según sea necesario -->
        </ul>
      </div>
    </div>
  </div>
</div>

