@import url('https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css');

/* Estilos para el título "Mapa" */
.display-4 {
  font-size: 3.5rem; /* Tamaño de fuente grande */
  font-weight: bold; /* Negrita */
  color: #007bff; /* Color azul */
  text-align: center; /* Centrado horizontal */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  margin-bottom: 20px; /* Margen inferior */
  margin-top: 120px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega una sombra al texto */
  margin-bottom: 30px;
}

/* Estilos para la barra de búsqueda */
.input-group {
  width: 500px;
  margin: 0 auto; /* Centrar horizontalmente */
}

.form-control {
  border-color: #ff8c00; /* Borde naranja */
  color: #333; /* Color del texto */
}

.btn-primary {
  background-color: #ff8c00; /* Fondo naranja */
  border-color: #ff8c00; /* Borde naranja */
  color: #fff; /* Color del texto */
}

.btn-primary:hover {
  background-color: #226ae6; /* Color naranja oscuro al pasar el ratón */
  border-color: #e67e22; /* Borde naranja oscuro al pasar el ratón */
}

/* Estilos para las sugerencias */
.sugerencias {
  position: absolute;
  border: 1px solid #0e47e2; /* Borde gris */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  width: 430px; /* Ancho ajustado al contenido */
  left: 47.5%; /* Posición en el centro */
  transform: translateX(-50%); /* Centrado horizontal */

}


.list-group-item {
  cursor: pointer; /* Cursor de puntero al pasar por encima */
  padding: 8px 12px; /* Relleno interno ajustado */
  transition: background-color 0.3s ease; /* Transición suave */
}

.list-group-item:hover {
  background-color: #b2c9ec; /* Cambia el color de fondo al pasar el ratón */
}



/* Estilos para el contenedor principal */
.btn-group-toggle {
  display: flex;
  overflow-x: auto; /* Permite desplazarse horizontalmente si hay muchos botones */
  margin-top: 50px;
}

/* Estilos para la etiqueta "Locaciones" */
.locaciones-label {
  margin-right: 10px;
  margin-top: 8px;
  color: #ff8c00; /* Naranja */
}

/* Estilos para los botones */
.btn-secondary {
  background-color:rgb(252, 244, 234);
  border: 2px solid #ff8c00; /* Borde naranja */
  color: #ff8c00; /* Texto naranja */
  margin-right: 5px;
  font-size: 14px;
  transition: all 0.3s ease; /* Transición suave */
  margin-bottom: 10px;
}

/* Estilos para el texto dentro de los botones */
.btn-secondary input[type="radio"] {
  margin-right: 5px;
}

/* Estilos para los botones cuando están activos */
.btn-secondary.active {
  background-color: #ff8c00; /* Naranja */
  color: #fff; /* Texto blanco */
}


/* Estilos para los botones al pasar el ratón por encima */
.btn-secondary:hover {
  background-color: #ff8c00; /* Naranja */
  color: #fff; /* Texto blanco */
}



/* Estilos para el mapa */
.map-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
}

.map-container iframe {
  justify-content: center;
  width: 800px;
  height: 600px;
  border: 0;
}



/* Estilos para el texto "Yendo a :" */
p {
  text-align: center;
  margin-top: 20px;
  color: #333; /* Negro */
}
.container2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


/* Estilos para el cuadro de direcciones */
.card {
  border: 2px solid #d95b5b; /* Borde gris claro */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  width: calc(20% - 20px); /* El 50% del ancho menos el espacio entre los elementos */

}

.card-body {
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Centrar texto */
}

.card-title {
  color: #bb0e05; /* Naranja */
  margin-bottom: 20px; /* Espaciado inferior */
  text-align: center; /* Centrar texto */
}

#ruta-container {
  background-color: #ffecd9; /* Fondo naranja claro */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  line-height: 1.5; /* Espaciado entre líneas aumentado */
  font-size: 15px; /* Tamaño de fuente aumentado */
  text-align: left;
  font-family: "Comic Sans MS", cursive, sans-serif; /* Tipo de letra Comic Sans MS si está disponible, cursive como respaldo, y sans-serif como última opción */

}
#ruta-container::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

#ruta-container::-webkit-scrollbar-thumb {
  background-color: #ff7f00; /* Color del scrollbar */
  border-radius: 4px; /* Bordes redondeados */
}

#ruta-container::-webkit-scrollbar-thumb:hover {
  background-color: #ff9f33; /* Color del scrollbar al pasar el ratón */
}


#map {
  width: calc(80% - 20px); /* El 50% del ancho menos el espacio entre los elementos */
}
/*Estilo para boton logout*/
.btn-logout button{
  position: absolute;
  right: 0;
  background-color: #cc1d1a; /* Fondo del botón rojo */
  color: #fff; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor de puntero */
  transition: background-color 0.3s ease; /* Transición suave */
}
.btn-logout button:hover {
  background-color: #d9534f; /* Cambia el color de fondo al pasar el ratón */
}

.btn-logout button i {
  margin-right: 5px; /* Espacio entre el icono y el texto */
}
