<div class="container">
  <!-- Título "Mapa" -->
  <div class="btn-logout">
    <button (click)="logout()" class="btn btn-primary">
      <i class="bi bi-door-closed"></i> Logout
    </button>
  </div>
  <h1 class="display-4">MAPA</h1>

 <!-- Barra de búsqueda -->
 <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Buscar lugar" #busquedaInput (keyup)="buscarLugares($event)">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" (click)="buscar()">Buscar</button>
  </div>
</div>

<div *ngIf="sugerencias.length > 0" class="sugerencias">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let sugerencia of sugerencias"
     (click)="seleccionarSugerencia(sugerencia, busquedaInput)">{{ sugerencia }}</li>
  </ul>
</div>

  <!-- Barra de locaciones -->
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <div class="locaciones-label">
      <strong>Locaciones:</strong>
    </div>
    <label class="btn btn-secondary" (click)="calcularRuta('Direccion')">
      <input type="radio" name="options" id="direccion"> Dirección
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Servicios Escolares')">
      <input type="radio" name="options" id="servicios-escolares"> Servicios Escolares
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Cancha')">
      <input type="radio" name="options" id="cancha"> Cancha
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Centro De Informacion')">
      <input type="radio" name="options" id="centro-de-informacion"> Centro de Información
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Centro de Copiado')">
      <input type="radio" name="options" id="centro-de-copiado"> Centro de Copiado
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Cafeteria')">
      <input type="radio" name="options" id="cafeteria"> Cafetería
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Auditorio')">
      <input type="radio" name="options" id="auditorio"> Auditorio
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Centro de Idiomas')">
      <input type="radio" name="options" id="centro-de-idiomas"> Centro de Idiomas
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Laboratorio de Quimica')">
      <input type="radio" name="options" id="laboratorio-de-quimica"> Laboratorio de Química
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Edificio F')">
      <input type="radio" name="options" id="edificio-f"> Edificio F
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Edificio B')">
      <input type="radio" name="options" id="edificio-b"> Edificio B
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Edificio C')">
      <input type="radio" name="options" id="edificio-c"> Edificio C
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Edificio G')">
      <input type="radio" name="options" id="edificio-g"> Edificio G
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Laboratorio de Matematicas')">
      <input type="radio" name="options" id="laboratorio-de-matematicas"> Laboratorio de Matemáticas
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Edificio J')">
      <input type="radio" name="options" id="edificio-j"> Edificio J
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Division de Estudios Profesionales')">
      <input type="radio" name="options" id="division-de-estudios-profesionales"> División de Estudios Profesionales
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Edificio I')">
      <input type="radio" name="options" id="edificio-i"> Edificio I
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Laboratorio de Electronica')">
      <input type="radio" name="options" id="laboratorio-de-electronica"> Laboratorio de Electrónica
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Alberca')">
      <input type="radio" name="options" id="alberca"> Alberca
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Laboratorio de Ingenieria Industrial')">
      <input type="radio" name="options" id="laboratorio-de-ingenieria-industrial"> Laboratorio de Ingeniería Industrial
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Centro de Computo')">
      <input type="radio" name="options" id="centro-de-computo"> Centro de Cómputo
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Edificio K')">
      <input type="radio" name="options" id="edificio-k"> Edificio K
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Edificio X')">
      <input type="radio" name="options" id="edificio-x"> Edificio X
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Edificio H')">
      <input type="radio" name="options" id="edificio-h"> Edificio H
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Sala Audiovisual 2')">
      <input type="radio" name="options" id="sala-audiovisual-2"> Sala Audiovisual 2
    </label>
    <label class="btn btn-secondary" (click)="calcularRuta('Sala Audiovisual 3')">
      <input type="radio" name="options" id="sala-audiovisual-3"> Sala Audiovisual 3
    </label>
  </div>






  <!-- Mini mapa con Mapbox -->
  <div id="map" style="height: 450px;"></div>


  <!-- Cuadro de direcciones -->
  <div class="card mt-3">
    <div class="card-body">
      <h4 class="card-title">Direcciones:</h4>
      <div style="height: 200px; overflow-y: auto;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Paso a seguir 1</li>
          <li class="list-group-item">Paso a seguir 2</li>
          <li class="list-group-item">Paso a seguir 3</li>
          <li class="list-group-item">Paso a seguir 4</li>
          <li class="list-group-item">Paso a seguir 5</li>
          <li class="list-group-item">Paso a seguir 6</li>
          <li class="list-group-item">Paso a seguir 7</li>
          <!-- Agrega más pasos según sea necesario -->
        </ul>
      </div>
    </div>
  </div>
</div>

