<div class="page">
  <div class="container">
    <div class="left">
      <div class="login">
        <a (click)="irAHome()"><mat-icon aria-hidden="false" aria-label="Login Back"
            fontIcon="arrow_back"></mat-icon></a>
        Login
      </div>
      <div class="eula">ZorroMaps</div>
    </div>
    <div class="right">
      <div class="form">
        <label for="mail">Correo Electronico</label>
        <input type="email" class="form-control" placeholder="Ingrese su correo electrónico" cFormControL name="email"
          [(ngModel)]="email">
        <hr class="gradient-line">

        <label for="password">Contraseña</label>
        <div class="input-group">
            <input type="{{ passwordVisible1 ? 'text' : 'password' }}" class="form-control" placeholder="Ingrese su contraseña" name="password" [(ngModel)]="password">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility1()">
                    <mat-icon aria-hidden="false" aria-label="Show/Hide Password">{{ passwordVisible1 ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </div>
        </div>
        <hr class="gradient-line">
        <!------Seccion de mensages------>
        @if (message) {
        <div class="alert alert-{{type}}" role="alert">
          {{message}}
        </div>
        }
        <!----Olvide contraseña------->
        <div class="form-group form-check">
          <button cButton class="btn-contra" (click)="toggleModal()">¿Olvidaste tu contraseña?</button>
        </div>

        <div>
          <button type="button" cButton class="btn btn-primary mt-3" (click)="iniciarSesion()">
            <!-- Sección de animación de carga -->
            @if (loadinglogin){
            <c-spinner aria-hidden="false" size="sm"></c-spinner>Loading...
            }
            @else
            {
            Login
            }
          </button>
        </div>
      </div>
    </div>
  </div>

  <!---nuevo-->

   <!-- Modal Forgot Password -->
<c-modal id="modalForgot" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)" class="custom-modal">
  <c-modal-header class="custom-header">
    <h5 cModalTitle class="custom-title">Contraseña Olvidada</h5>
    <button (click)="toggleModal()" cButtonClose class="custom-close">X</button>
  </c-modal-header>
  <c-modal-body class="custom-body">

    <!-- Sección de mensajes del modal-->
    @if (messagemodal) {
      <div class="alert alert-{{typemodal}}" role="alert">
        {{messagemodal}}
      </div>
    }
    <!---------------------->
    <input type="email" [(ngModel)]="emailforgot" name="emailforgot" placeholder="Ingresa tu correo" cFormControl autoComplete="email" class="custom-input">
  </c-modal-body>
  <c-modal-footer class="custom-footer">
    <button (click)="toggleModal()" cButton  class="custom-button">
      Cerrar
    </button>
    <button cButton color="primary" (click)="forgotpassword()" class="custom-button">
      @if (loadingforgot) {
        <c-spinner aria-hidden="false" size="sm"></c-spinner>Loading...
      }
      @else {
        Enviar correo de recuperacion
      }
    </button>
  </c-modal-footer>
</c-modal>

  <!---fin de nuevo-->

</div>