@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}

@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: 500px;

  }
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
  margin-top: 150px;

}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: #474A59;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
  text-align: center; /* Centra el contenido horizontalmente */
}

@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin-top: 80px; /* Margen superior de 80px */
  margin-right: auto; /* Margen derecho automático */
  margin-bottom: 0; /* Sin margen inferior */
  margin-left: auto; /* Margen izquierdo automático */
  color: white;
}

.eula {
  font-family: 'MyFontRoboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #fefefe;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 40px; /* Margen superior de 40px */
  margin-right: auto; /* Margen derecho automático */
  margin-bottom: 0; /* Sin margen inferior */
  margin-left: auto; /* Margen izquierdo automático */
}
.right {
  background: rgb(255, 98, 0);
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
  height: 500px;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
  text-align: center; /* Centra el contenido horizontalmente */
}

.button-container {
  text-align: center; /* Centra los elementos horizontalmente */
}

/* Estilos para los botones */
.btn {
  flex: 1;
  display: inherit; /* Cambiado a bloque para que estén uno encima del otro */
  margin: 3px auto; /* Margen vertical reducido a 3px y centrado horizontalmente */
  font-size: 14px;
  padding: 5px 10px;
  height: 50px;
  color: white;
  background-color: transparent;
  border: 2px solid transparent; /* Añade un borde transparente */
  width: 100%; /* Ancho del espacio disponible */
}

.btn-primary {
  border-color: #007bff; /* Color del borde naranja */
  background-color: #144efd;
}

.btn-secondary {
  border-color: #fd7e14; /* Color del borde azul */
  background-color: #007bff;
}

/*nuevo*/
.btn-contra {
  border-color: #c96310;
  background-color: #c96310;
  color: #f2f2f2;
  text-decoration: underline;
  cursor: pointer;
}

.btn:hover {
  background-color: #fd7e14; /* Color de fondo naranja al pasar el cursor */
}

.btn-primary:hover {
  background-color: #5fa8f7; /* Color de fondo naranja al pasar el cursor */
}

.btn-secondary:hover {
  background-color: #5fa8f7; /* Color de fondo azul al pasar el cursor */
}

/*nuevo*/
.btn-contra:hover {
  border-color: #007bff;
  background-color: #0360f7;
  color: #f4f4f4;
  text-decoration: underline;
  cursor: pointer;
}

.btn:active {
  background-color: transparent;
  color: white;
}

.btn-primary:active {
  background-color: #fd7e14; /* Color de fondo naranja al hacer clic */
}

.btn-secondary:active {
  background-color: #007bff; /* Color de fondo azul al hacer clic */
}


.btn:active {
  background-color: transparent;
  color: white;
}

label {
  color:  #ffffff;
  display: block;
  font-size: 16px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.form-control::placeholder {
  font-size: 12px; /* Tamaño de fuente más pequeño para el placeholder */
  color: #dcd8d8;
}
input {
  background: transparent;
  border: 0;
  color: #c0c6bd;
  font-size: 20px;
  height: 50px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner {
  border: 0;
}
.gradient-line {
  border: 0;
  height: 3px; /* Ajusta la altura de la línea según sea necesario */
  background: linear-gradient(to right, #FF0000, #0000FF); /* Cambia los colores de gradiente según tu preferencia */
  margin: 10px 0; /* Ajusta el margen según sea necesario */
}

input::placeholder {
  color: #ffffff; /* Cambiar el color del placeholder a blanco */
}

/*nuevo*/
.custom-modal {
  /* Estilos generales para el modal */
  border-color: #0000FF;
}

.custom-header {
  /* Estilos para el encabezado del modal */
  background: #474A59;
  color: #F1F1F2;
}

.custom-title {
  /* Estilos para el título del modal */
  font-family: 'MyFontRoboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #fefefe;
}

.custom-close {
  /* Estilos para el botón de cerrar del modal */
  background-color: #FF0000;
  color: black;
}

.custom-close:hover {
  background-color: #b52020;
  color:#fefefe;
}

.custom-body {
  /* Estilos para el cuerpo del modal */
  background-color: #fd7e14;
}

.custom-input {
  /* Estilos para los campos de entrada del modal */
  border-color: #2D2F36;
  font-family: 'MyFontRoboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #fefefe;

}

.custom-footer {
  /* Estilos para el pie del modal */
  background-color: #fa8f36;
}

.custom-button {
  /* Estilos para los botones del modal */
  border-color: #007bff; /* Color del borde naranja */
  background-color: #fd7e14;
  color: #F1F1F2;
}
