<!--<app-crear-cuenta></app-crear-cuenta>
<app-login></app-login>
<app-evento></app-evento>
<app-contra-olvidada></app-contra-olvidada>-->
<app-inicio></app-inicio>
<router-outlet></router-outlet>
<!--<div class="toolbar" role="banner">
  <nav class="toolbar__navigation">
    <ul>
      <li><a href="/inicio">Inicio</a></li>
      <li><a href="/crear-cuenta">Crear cuenta</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/evento">Evento</a></li>
      <li><a href="/contra-olvidada">Contraseña olvidada</a></li>
    </ul>
  </nav>-->
