<div class="container">
  <input #searchInput type="text" (input)="buscarLugares($event)" placeholder="Buscar lugares..." id="searchInput">
  <ul *ngIf="sugerencias.length > 0" class="sugerencias">
    <li *ngFor="let sugerencia of sugerencias" 
      (click)="seleccionarSugerencia(sugerencia, searchInput)">
      {{ sugerencia }}
    </li>
    <iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/19141218/clwile9wp01gk01qo11vu2y9f.html?title=false&access_token=pk.eyJ1IjoiMTkxNDEyMTgiLCJhIjoiY2x3aWxiajFrMGQ4bDJqbnIyc3U2dXh2dSJ9.F7-tPZXbjdg3GbCeDULKWg&zoomwheel=false#17.05/20.594772/-100.404112/58.7/71" title="Untitled" style="border:none;"></iframe>
  </ul>
  <div id="map" class="map"></div>
</div>
