<<<<<<< HEAD
=======
/* styles.css */
.logo {
  width: 100px;  /* Ajusta a la dimensión deseada */
  height: auto;
}

>>>>>>> parent of 919a405 (Mapa visible 2D)
.map {
  width: 100%;
  height: 400px;
}

.sugerencias {
  list-style-type: none;
  padding: 0;
}

.sugerencias li {
  cursor: pointer;
  padding: 5px;
}

.sugerencias li:hover {
  background-color: #ddd;
}
