.map {
  width: 100%;
  height: 400px;
}

.sugerencias {
  list-style-type: none;
  padding: 0;
}

.sugerencias li {
  cursor: pointer;
  padding: 5px;
}

.sugerencias li:hover {
  background-color: #ddd;
}
