.btn {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #043a6b;
  color: #fff;
}

.btn-primary:hover {
  background-color: #032f57;
}

.btn-secondary {
  background-color: #17a2b8;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #138496;
}
.text-imagen {
  font-family: cursive; /* Tipografía cursiva */
  font-size: 24px; /* Tamaño de fuente más grande */
  color: rgb(8, 8, 8); /* Color de texto blanco */
}
