html, body{
  background-color: #ff4f02;
}
.btn {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1;
  display: inherit;
  margin: 3px auto; /* Margen vertical reducido a 3px y centrado horizontalmente */
  font-size: 14px;
  padding: 5px 10px;
  height: 50px;
  color: white;
  background-color: transparent;
  border: 2px solid transparent; /* Añade un borde transparente */
  width: 100%; /* Ancho del espacio disponible */
}

.btn-primary {
  background-color: #043a6b;
  color: #fff;
}

.btn-primary:hover {
  background-color: #5fa8f7;
}


.btn-secondary {
  background-color: #17a2b8;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5fa8f7;
}
.text-imagen {
  font-family: 'MyFont' , sans-serif; /* Tipografía cursiva */
  font-size: 65px; /* Tamaño de fuente más grande */
  color: rgb(8, 8, 8); /* Color de texto blanco */
}
