<body style="background-color: #ff4f02">


  <div class="container" style="background-color: #ff4f02; height: 100vh">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col">
          <button (click)="navegarLogin()" class="btn btn-primary mt-3 text-white" style="background-color: #043a6b">
            Login
          </button>
        </div>
        <div class="col">
          <button (click)="navegarRegistrarse()" class="btn btn-primary mt-3 text-white"
            style="background-color: #043a6b">
            Registrase
          </button>
        </div>
        <div class="col">
          <button (click)="navegarEvento()" class="btn btn-primary mt-3 text-white" style="background-color: #043a6b">
            Evento
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <img class="foto" src="/assets/img/LogoZorro_inicio.png" height="650 px." width="600 px" />
        </div>
      </div>
    </div>
  </div>
</body>
